In [2]:
import pandas as pd
df = pd.read_csv('Book1.csv')
df.head()

   Serial Number Name  Height (in inches)  Age  Phone number
0              1   AA               142.0   10     100000001
1              2   AB               143.0   11     100000002
2              3   AC               145.0   12     100000003
3              4   AD               172.0   13     100000004
4              5   AE               147.0   14     100000005

In [46]:
f"{[df['Height (in inches)'].tolist()[i] for i in range(10)]}"

'[142.0, 143.0, 145.0, 172.0, 147.0, 148.5, 149.8, 151.1, 152.4, 153.7]'

In [47]:
list = df['Height (in inches)'].tolist()
for i in range(10):
    print(list[i])

142.0
143.0
145.0
172.0
147.0
148.5
149.8
151.1
152.4
153.7

In [48]:
btc_positions=[{ 'symbol: BTC', 'margin_balance: 0.15', 'margin_position: 0.05', 'margin_frozen: 0.01'},
               { 'symbol: BTC2', 'margin_balance: 0.15', 'margin_position: 0.05', 'margin_frozen: 0.01'}]

def test(value):
    """
    value: list of sets of strings
    """
    for p in value:  # iterate list
        d = dict(s.split(': ') for s in p)  # turn sets of strings to dict
        d = sorted(d.items(), key=lambda x: x[1], reverse=True)  # reverse sort into list of tuples
        l = '-' * 15  # dashed line
        fin = f'{l}\n'  # create string to print
        for v in d:
            fin += '='.join(v)
            fin += '\n'
        fin += l

        print(fin)


test(btc_positions)

---------------
symbol=BTC
margin_balance=0.15
margin_position=0.05
margin_frozen=0.01
---------------
---------------
symbol=BTC2
margin_balance=0.15
margin_position=0.05
margin_frozen=0.01
---------------

In [49]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [50]:
df = df.astype({'Serial Number': 'string'})

In [51]:
df['Serial Number']

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
19    20
20    21
21    22
22    23
23    24
24    25
25    26
26    27
27    28
28    29
29    30
30    31
31    32
32    33
33    34
34    35
35    36
36    37
37    38
38    39
39    40
40    41
41    42
42    43
43    44
44    45
45    46
46    47
47    48
48    49
49    50
Name: Serial Number, dtype: string

In [52]:
import codecs
writefile = codecs.open('dishes_dataset.csv', 'w', 'utf-8')

In [106]:
df = pd.read_excel('dishes.xlsx')
type(df)

pandas.core.frame.DataFrame

In [107]:
indexes=list(~pd.isna(df['Салаты']))

In [108]:
print(df['Салаты'][indexes].values.tolist())

['1. Салат «Витаминный», 120г, 65р.', '2. Салат «питерский», 120г, 76р.', '3. Салат цезарь с курицей, 167р.']

In [113]:
formatter = lambda x: '{:10.3f}'.format(x)
print(df['Салаты'][indexes].to_string(index=False, formatters=formatter))

TypeError: Series.to_string() got an unexpected keyword argument 'formatters'

In [89]:
indexes=list(~pd.isna(df['Супы']))
print(pd.Series.to_string(df['Супы'][indexes], index=False))

1. Крем-суп из овощей, 300г, 71р.

In [100]:
indexes = list(~pd.isna(df['Горячее']))
df1=df['Горячее'][indexes]
df1 = df1.to_frame()
left_aligned_df = df1.style.set_properties(**{'text-align': 'left'})
display(left_aligned_df)

In [101]:
type(display(left_aligned_df))

NoneType

In [104]:
import pandas as pd
frame = pd.DataFrame(data={0: 0, 1: 0}, index=[0])
formatter = lambda x: '{:10.3f}'.format(x)
print(frame.to_string(index=False, header=False))

0 0